<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGameLabel" data-translate="gamesApp.game.home.createOrEditLabel">Create or edit a
            Game</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.game.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.game.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gamesApp.game.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                   ng-model="vm.game.title"
                   required/>
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                   ng-show="editForm.title.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gamesApp.game.estimatedValue" for="field_estimatedValue">Estimated
                Value</label>
            <input type="number" class="form-control" name="estimatedValue" id="field_estimatedValue"
                   ng-model="vm.game.estimatedValue"
                   required
            />
            <div ng-show="editForm.estimatedValue.$invalid">
                <p class="help-block"
                   ng-show="editForm.estimatedValue.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gamesApp.game.releaseYear" for="field_releaseYear">Release
                Year</label>
            <input type="number" class="form-control" name="releaseYear" id="field_releaseYear"
                   ng-model="vm.game.releaseYear"
                   required/>
            <div ng-show="editForm.releaseYear.$invalid">
                <p class="help-block"
                   ng-show="editForm.releaseYear.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.releaseYear.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <span class="control-label" data-translate="gamesApp.game.rate">Rate</span>
            <span uib-rating ng-model="vm.game.rate" max="5" on-leave="overStar = null"></span>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="gamesApp.game.sellDate" for="field_sellDate">Sell Date</label>
            <div class="input-group">
                <input id="field_sellDate" type="text" class="form-control" name="sellDate"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.game.sellDate"
                       is-open="vm.datePickerOpenStatus.sellDate"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('sellDate')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label" data-translate="gamesApp.game.genre" for="field_genre">genre</label>
            <input type="text" class="form-control" name="genre" id="field_genre"
                   ng-model="vm.game.genre"
                   required
                   uib-typeahead="state for state in getLocation($viewValue,'genre') "
                   typeahead-loading="loadingLocations"
                   autocomplete="off"/>

            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

            <div ng-show="editForm.genre.$invalid">
                <p class="help-block"
                   ng-show="editForm.genre.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label" data-translate="gamesApp.game.platform" for="field_platform">platform</label>

            <input type="text" class="form-control" name="platform" id="field_platform"
                   ng-model="vm.game.platform"
                   required
                   uib-typeahead="state for state in getLocation($viewValue,'platform') "
                   typeahead-loading="loadingLocations"
                   autocomplete="off"/>

            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

            <div ng-show="editForm.platform.$invalid">
                <p class="help-block"
                   ng-show="editForm.platform.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
