
<div>
    <h2><span data-translate="gamesApp.game.detail.title">Game</span> {{vm.game.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="gamesApp.game.title">Title</span></dt>
        <dd>
            <span>{{vm.game.title}}</span>
        </dd>
        <dt><span data-translate="gamesApp.game.estimatedValue">Estimated Value</span></dt>
        <dd>
            <span>{{vm.game.estimatedValue | currency : R$}}</span>
        </dd>
        <dt><span data-translate="gamesApp.game.releaseYear">Release Year</span></dt>
        <dd>
            <span>{{vm.game.releaseYear}}</span>
        </dd>
        <dt><span data-translate="gamesApp.game.rate">Rate</span></dt>
        <dd>
            <span><span uib-rating ng-model="vm.game.rate" max="5" read-only="true" on-leave="overStar = null" ></span></span>
        </dd>
        <dt><span data-translate="gamesApp.game.registrationDate">Registration Date</span></dt>
        <dd>
            <span>{{vm.game.registrationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="gamesApp.game.sellDate">Sell Date</span></dt>
        <dd>
            <span>{{vm.game.sellDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="gamesApp.game.genre">Genre</span></dt>
        <dd>
            <span>{{vm.game.genre}}</span>
        </dd>
        <dt><span data-translate="gamesApp.game.platform">Platform</span></dt>
        <dd>
            <span>{{vm.game.platform}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="game-detail.edit({id:vm.game.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
