<div>
    <h2 data-translate="gamesApp.game.home.title">Games</h2>
    <div class="container-fluid">
        <div class="row">
            <div id="genre_chart" class="col-xs-4"></div>
            <div id="value_chart" class="col-xs-8"></div>
        </div>
        <br/>
        <br/>

        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="game.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="gamesApp.game.home.createLabel">
                        Create new Game
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gamesApp.game.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="gamesApp.game.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estimatedValue"><span data-translate="gamesApp.game.estimatedValue">Estimated Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="releaseYear"><span data-translate="gamesApp.game.releaseYear">Release Year</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rate"><span data-translate="gamesApp.game.rate">Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="genre"><span data-translate="gamesApp.game.genre">Genre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="platform"><span data-translate="gamesApp.game.platform">Platform</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="game in vm.games track by game.id">
                    <td><a ui-sref="game-detail({id:game.id})">{{game.id}}</a></td>
                    <td>{{game.title}}</td>
                    <td>{{game.estimatedValue  | currency : R$ }}</td>
                    <td>{{game.releaseYear}}</td>
                    <td>
                        <span uib-rating ng-model="game.rate" max="5" read-only="true" on-leave="overStar = null" ></span>
                    </td>
                    <td>{{game.genre}}</td>
                    <td>{{game.platform}}</td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="game-detail({id:game.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="game.edit({id:game.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="game.delete({id:game.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
    <jhi-alert></jhi-alert>
</div>
